{{ form_start(form, {'attr': {'id': 'newsletter_form_email'}}) }}

{% if errorMessage is defined and errorMessage is not empty %}
    <div class="alert alert-danger">{{ errorMessage }}</div>
{% endif %}

    {{ form_errors(form) }}
    {{ form_widget(form.email) }}
    {{ form_widget(form.register) }}
{{ form_end(form) }}
